@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&family=IBM+Plex+Sans+Arabic:wght@100&family=Inter:wght@400;500;600&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&family=IBM+Plex+Sans+Arabic:wght@100&display=swap");


* {
  font-family: "Inter", Helvetica, sans-serif;
  box-sizing: border-box;
  overflow-x:hidden;
}
 body{
  font-family: "Inter", Helvetica, sans-serif;
 }
header{
  position: fixed;
  width: 100%;
  background: #fff;
  z-index: 9999;
  margin: 0 auto;
}


div.headerLine{
  display: flex;
  justify-content: space-between;
  align-items:center;
  max-width: 1600px;
  margin: 0 auto;
  height: auto;
  padding: 0 16px;
}
.headerLogoContainer{
  padding: 0 16px;
  margin: 4px 0;
}
.headerLogo{
  position: relative;
  width: 112px;
  margin: 4px 56px 4px 0;
}
.logo{
  display: block;
}

.boxSearch {
  position: relative;
  width: 450px;
  margin: 0 auto;
}

input.search-tst {
  outline: none;
  background: #ffffff;
}

.search-tst {
  width: 100%;
  height: 40px;
  padding-left: 15px;
  border: 1px solid #8c8c8c;;
  padding: 7px;
}

.icon {
  background: transparent;
  border: none;
  outline: none;
  height: 40px;
  width: 40px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
.icon:hover {
  background: #f2f2f2;
}
.responsiveAccountContainer{
  display: flex;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  height: auto;
}
.responsiveAccountHeader{
  display: flex;
  align-items:center;
  padding: 8px 16px;
  font-family: "Inter",Helvetica,sans-serif;
  font-size: 14px;
  line-height: 1.42;
  color: #000;
  font-weight: 400;
}
.responsiveAccountHeader:hover {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  height: auto;
  font-size: 14px;
  line-height: 1.42;
  background-color: #efefef;
  color: #000;
}
.responsive{
  margin-right: 30px;
}
.responsiveBasket_icon{
 position: relative;
}
.responsiveBasket_items {
  position: absolute;
  top: 12px;
  left: 8px;
  background-color: transparent;
  color: #fff;
  height: auto;
  min-width: 16px;
  font-family: "Inter", Helvetica, sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  justify-content: center;
  align-items: center;
  line-height: 1.35;
}
.MenuListStyle{
  display: flex;
  justify-content: center;
  list-style: none; 
  background:#000000; 
}
.nav-item{
  display: block;
  width: 100%;
  padding: 0 16px;
  text-decoration: none; 
  background:#000000; 
  color:#fff; 
  font-family: "Inter",Helvetica,sans-serif;
  font-size: 14px;
  line-height: 40px; 
  
  -moz-transition: all 0.3s 0.01s ease; /*делаем плавный переход*/
  -o-transition: all 0.3s 0.01s ease;
  -webkit-transition: all 0.3s 0.01s ease;
}
.nav-item:hover {
  background:#fffffff0;
  color:#000000;
}

 .wrapper { 
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  width: 100%;
  margin-top: 150px;
}
.responsiveUsp_body {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  flex-basis: auto;
  height: 56px;
  background: #F2F2F2FF;
}

.responsiveUsp_icon {
  display: flex;
  flex-basis: auto;
  height: 56px;
  padding: 8px 20px;
}

.responsiveUsp_link {
  display: flex;
  align-items: center;
  flex-basis: auto;
  text-decoration: none;
  font-family: "Inter",Helvetica,sans-serif;
  font-size: 14px;
  line-height: 1.42;
  font-weight: 500;
  letter-spacing: .2px;
  color: black;
}

.responsiveUsp_link:hover {
  text-decoration: 1px underline black;
}

.responsiveAccountHeader {
  padding: 9.6px 16px;
  cursor: pointer;
  text-align: center;
  box-sizing: border-box;
  display: inline-flex;
  box-shadow: none;
  justify-content: center;
  align-self: stretch;
  align-items: center;
  width: auto;
  text-decoration: none;
  color: #000;
}

.responsiveAccountHeader_Text {
  padding-left: 8px;
}

.responsiveBasket_container {
  padding: 9.6px 16px;
  cursor: pointer;
  text-align: center;
  box-sizing: border-box;
  height: auto;
  width: auto;
  display: inline-flex;
  box-shadow: none;
  justify-content: center;
  align-self: stretch;
  align-items: center;
  text-decoration: none;
}

.responsiveAccountHeader_Icon {
  position: relative;
}



.responsiveBasket_name {
  color: #000;
  padding-left: 8px;
}

.stripBanner {
  display: flex;
  justify-content: center;
  text-align: center;
  background: #fae2cf;
  height: 100%;
}

.stripBanner_text {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 14px;
  line-height: 1.42;
  text-decoration: none;
  color: #000;
  padding: 12px 8px;
  background: #fae2cf;
  font-weight: 700;
}

.slider-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider-item {
  width: 100%;
}

.slider-item a{
  display: block;
  width: 100%;
  height: 100%;
}
.slider-itemImg {
  width: 100%;
}
.sliderButtons{
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: calc(50% - 20px);
  width: 100%;
}
.btn-prev, .btn-next {
  background: rgba(0, 0, 0, 0.2);
  color: #ffffff;
  width: 40px;
  border: none;
  border-radius: 3px 0 0 3px;
  padding: 16px;
}

.btn-next:hover,
.btn-prev:hover {
  opacity: 0.9;
}

.bodyNavBullet {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
}

.responsiveSlider_navBullet {
  display: flex;
  border: 1px solid black;
  background: #fff;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  margin: 3.2px;
}

.navBullet {
  background: #000;
}

.responsiveProductCarousel {
  display: flex;
  background: #fff;
  border: 1px solid black;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin: 4px;
}

.productSection {
  position: relative;
  display: flex;
}

.productCarousel {
  display: flex;
  justify-content: center;
}

.buttonProducte {
  display: flex;
  align-content: center;
  justify-content: center;
  margin-top: 20px;
}

.responsiveProduct {
  text-align: center;
  font-family: "Inter", Helvetica, sans-serif;
  font-size: 17px;
  line-height: 1.33;
  font-weight: 600;
  text-transform: uppercase;
  padding: 5px 15px;
  border-bottom: 2px solid rgb(168, 167, 167);
}

.responsiveProduct:hover {
  border-bottom: 4px solid black;
}

.productBlock {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px 6px;
  max-width: 286px;
  height: 496px;
}

.productName {
  display: inline-block;
  margin: 15px 4px;
  text-align: left;
}

.productBlock_price {
  display: inline-flex;
  flex-wrap: wrap;
  width: 270px;
  text-align: left;
  padding: 4px 15px;
  font-size: 15px;
  line-height: 1.6;
  color: #000;
  font-weight: 600;
}

.addToBag {
  width: 100%;
  height: 41px;
  color: #ffffff;
  border: 1px solid black;
  background: black;
  padding: 9px 9px;
}

.addToBag:hover {
  opacity: 0.7;
  text-decoration: 1px underline white;
}

.productButtons{
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: calc(40% - 20px);
  width: 100%;

}
.product-prev, .product-next {
  background: rgba(0, 0, 0, 0.2);
  color: #ffffff;
  width: 40px;
  border: none;
  border-radius: 3px 0 0 3px;
  padding: 16px;
}

.product-next:hover,
.product-prev:hover {
  opacity: 0.9;
}

.papBannerLink {
  display: inline;
  align-items: center;
  color: inherit;
  border: 1px solid black;
  background: white;
  padding: 4px;
  margin: 10px 4px;
  font-size: 13px;
  line-height: 1.54;
  font-weight: 400;
}

.containerImage {
  display: flex;
  align-items: center;
  margin: 0 16px 32px 16px;
}

.brandLogos {
  width: 100%;
}

.brandLogos_cards {
  display: flex;
  justify-content: space-between;
  margin: 40px 0;
}

.brandLogos_card {
  min-width: 196px;
  width: 196px;
  margin: 0 8px;
  opacity: 0.8;
}

.brandLogos_card:hover {
  opacity: 1;
}

.brandLogos_link {
  max-width: 100%;
}

.brandLogos_image {
  height: 100%;
  width: 100%;
}

.primaryBanner_container {
  display: block;
  width: 100%;
  height: 142.48px;
  margin: 70px 0;
}

.primaryBanner {
  display: initial;
  width: 100%;
}

.primaryImage {
  height: 97%;
  width: 100%;
}

.threeItemEditorial_container {
  display: flex;
  align-items: flex-start;
  padding: 0 16px;
}

.threeItemEditorial {
  display: flex;
  justify-content: space-evenly;
  padding: 0 16px;
  width: 100%;
}

.threeItemEditorial_link {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  color: #000;
  font-family: "Inter", Helvetica, sans-serif;
}

.threeItemEditorial_image {
  max-width: 100%;
  height: auto;
  width: 100%;
}

.threeItemEditorial_textContainer {
  width: 407px;
  height: 196px;
  text-align: center;
  flex-direction: column;
  color: #333;
}

.threeItemEditorial-Subtitle {
  font-size: 13px;
  line-height: 1.54;
  font-weight: 400;
  letter-spacing: 0.2px;
  text-transform: none;
  margin-top: 16px;
  margin-bottom: initial;
  display: block;
}

.threeItemEditorial-Title {
  font-size: 17px;
  line-height: 1.33;
  font-weight: 600;
  letter-spacing: 0;
  text-transform: uppercase;
  margin-top: 16px;
  margin-bottom: initial;
  display: block;
}

.threeItemEditorial-Des {
  font-size: 14px;
  line-height: 1.42;
  font-weight: 400;
  letter-spacing: 0;
  text-transform: none;
  margin-top: 8px;
  margin-bottom: initial;
  display: block;
  flex-grow: 2;
}

.threeItemEditorial-CTAText {
  display: inline-table;
  width: 373px;
  height: 20.016px;
  margin-top: 16px;
  border: 1px solid black;
  padding: 8px 16px;
  text-align: center;
  color: #333;
}

.threeItemEditorial-CTAText:hover {
  border-color: #000;
  background-color: #e5e5e5;
  color: #000;
  text-decoration: underline;
}

.responsiveProductTitle {
  display: flex;
  align-content: center;
  justify-content: center;
  text-align: center;
}

.responsiveProduct_title {
  font-family: "Cormorant Garamond", Helvetica, sans-serif;
  font-size: 35px;
  line-height: 1.14;
  color: #000;
  font-style: italic;
  font-weight: 500;
  letter-spacing: 0;
  text-transform: uppercase;
  margin: 48px 0 32px 0;
}

.threeEditorialTitle {
  display: flex;
}

.threeEditorial_title {
  text-align: center;
}

.brandLogos_card {
  min-width: 196px;
  width: 196px;
  display: flex;
  align-items: center;
  margin-left: 8px;
  margin-right: 8px;
}

.brandLogos_image {
  width: 100%px;
  height: 100%;
  opacity: .8;
}

.bodyNavBulletBottom {
  margin-bottom: 80px;
}

footer {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  width: 100%;
}

.eastendFooter_sectionTwo-dark {
  display: flex;
  width: 100%;
  padding: 32px 36px 0 36px;
  background: black;
  color: white;
  text-decoration: none;
}

.eastendFooter_socialIcons {
  width: 50%;
  padding-bottom: 40px;
  margin: 0 16px;
}

.signUp_button {
  color: #000;
  background-color: #fff;
  border: 1px solid black;
  display: inline-block;
  text-decoration: none;
  padding: 8px 16px;
  cursor: pointer;
  text-align: center;
  margin-top: 30px;
  width: 92px;
  height: auto;
}

.signUp_button:hover {
  text-decoration: 1px underline black;
  background: #e5e5e5;
}

.eastendFooterIcons {
  width: 50%;
  padding-bottom: 17.6px;
  margin: 0 16px
}

ul.eastendFooterIcons_list {
  display: flex;
  justify-content: flex-start;
  padding: 20px 0;
}
.eastendFooterIcons_listItem{
  padding: 0 16px 10px 0 ;
}

.eastendFooter_signupTitle,
.eastendFooter_Text {
  font-family: "Inter", Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.6;
  font-weight: 600;
  text-transform: none;
}


.eastendFooter_section-dark {
  display: flex;
  padding: 0 36px;
  background: #000;
  color: #ffffff;
}

.footerLinkColumns-containers {
  width: 50%;
  border-top: 1px solid white;
  padding-top: 8px;
  margin: 0 16px;
}
.footerLinkColumns-containers2{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 6.4px;
  margin-right: 6.4px;
}
.footerColums-container{
  padding: 16px 16px 8px 8px;
  margin-bottom: 8px;
}

.footerLinkColumn-LevelOne{
  width: 206px;
  margin: 0 16px;
}
.footerLinkColumn-LevelTwo{
  width: 206px;
  margin: 0 16px;
  border-top: 1px solid white;
}
.footerLink{
  display: block;
  padding: 16px 16px 8px 8px;
  margin-bottom: 8px;
  font-family: "Inter",Helvetica,sans-serif;
  font-size: 15px;
  line-height: 1.6;
  color: white;
  font-weight: 600;
}
.footerLinkColumns_second, .footerLinkColumns_first{
  position: relative;
  left: 11px;
}
.footerLinkColumns_Link {
  font-family: "Inter", Helvetica, sans-serif;
  font-size: 14px;
  line-height: 2.42;
  font-weight: 400;
  text-decoration: none;
  color: #fff;
}

.footerLinkColumns_Item:hover {
  background:rgb(121, 120, 120, .1);
  color: #e5e5e5;
  text-decoration: underline;
}

.Footer_thgCopyright{
  display: flex;
  justify-content: flex-start;
  width: 100%;
  padding: 0 16px;
}
.Footer_logoContainer{
  display: flex;
  width: 50%;
  margin: 32px 16px 24px 16px;
}
.thgCopyright svg {
  max-width: 130px;
  height: 15px;
  
}
.thgCopyright_text {
  font-family: "Inter",Helvetica,sans-serif;
  font-size: 14px;
  line-height: 1.42;
  font-weight: 500;
  letter-spacing: .2px;
  color: #757575;
  text-align: left;
  padding-top: 20px;
}

.Footer_paySecureIcons_container{
  width: 50%;
  margin: 32px 16px 24px 0;
}
.Footer_paySecurelyTitle{
  font-family: "Inter",Helvetica,sans-serif;
  font-size: 15px;
  line-height: 1.6;
  color: #000;
  font-weight: 600;
  text-transform: none;
  margin-bottom: 8px;
}
.footerPaymentIcons{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: auto;
}

.footerPaymentIcons_listItem{
  padding: 2px;
}